<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlAFE">
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<hgap>5</hgap>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="AFESizer" member="no">
					<label>AFE</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="AFE1Sizer" member="no">
							<cols>2</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText0" member="yes">
									<label>Peak current of DAC</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_ISEL_DAC_AFE" subclass="StdCombobox" variable="cmbISEL_DAC_AFE" member="yes">
									<size>162,21</size>
									<tooltip>Controls the peak current of the DAC output current</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText1" member="yes">
									<label>MUX input of ADC ch.1 </label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_MUX_AFE_1" subclass="StdCombobox" variable="cmbMUX_AFE_1" member="yes">
									<size>347,21</size>
									<tooltip>Controls the MUX at the input of the ADC channel 1</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText2" member="yes">
									<label>MUX input of ADC ch.2</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_MUX_AFE_2" subclass="StdCombobox" variable="cmbMUX_AFE_2" member="yes">
									<tooltip>Controls the MUX at the input of the ADC channel 2</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxRadioBox" name="ID_MODE_INTERLEAVE_AFE" variable="rgrMODE_INTERLEAVE_AFE" member="yes">
									<label>Time interleave two ADCs into one ADC</label>
									<content>
										<item>Two ADCs</item>
										<item>Interleaved</item>
									</content>
									<tooltip>time interleaves the two ADCs into one ADC</tooltip>
									<style>wxRA_SPECIFY_COLS</style>
									<handler function="ParameterChangeHandler" entry="EVT_RADIOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="PowerdowncontrolsSizer" member="no">
					<label>Power down controls</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="Powerdowncontrols2Sizer" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_AFE" variable="chkPD_AFE" member="yes">
									<label>AFE current mirror in BIAS&amp;TOP</label>
									<tooltip>Power down control for the AFE current mirror in BIAS&amp;TOP</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_RX_AFE1" variable="chkPD_RX_AFE1" member="yes">
									<label>ADC ch. 1</label>
									<tooltip>Power down control for the ADC of  channel 1</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_RX_AFE2" variable="chkPD_RX_AFE2" member="yes">
									<label>ADC ch. 2</label>
									<tooltip>Power down control for the ADC of channel 2</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_TX_AFE1" variable="chkPD_TX_AFE1" member="yes">
									<label>DAC ch. 1</label>
									<tooltip>Power down control for the DAC of channel 1</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_TX_AFE2" variable="chkPD_TX_AFE2" member="yes">
									<label>DAC ch. 2</label>
									<tooltip>Power down control for the DAC of channel 2</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_EN_G_AFE" variable="chkEN_G_AFE" member="yes">
									<label>Enable individual power downs</label>
									<tooltip>Enable control for all the AFE power downs</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
			</object>
		</object>
	</object>
</wxsmith>
