<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlRBB">
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<hgap>5</hgap>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="UNGROUPEDSizer" member="no">
					<label>UNGROUPED</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="UNGROUPED1Sizer" member="no">
							<cols>2</cols>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_EN_LB_LPFH_RBB" variable="chkEN_LB_LPFH_RBB" member="yes">
									<label>EN__LB__LPFH__RBB</label>
									<tooltip>This is the loopback enable signal that is enabled when high band LPFH&amp;RBB is selected for the loopback path that connects the loopb&amp;lpfi inputs to the virtual ground of the LPFH&amp;RBB block</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_EN_LB_LPFL_RBB" variable="chkEN_LB_LPFL_RBB" member="yes">
									<label>EN__LB__LPFL__RBB</label>
									<tooltip>This is the loopback enable signal that is enabled when the high-band low pass filter LPFL&amp;RBB is selected for the loopback path that connects the loopb&amp;lpf inputs to the virtual ground of the LPFL&amp;RBB block</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText0" member="yes">
									<label>PGA input</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_INPUT_CTL_PGA_RBB" subclass="StdCombobox" variable="cmbINPUT_CTL_PGA_RBB" member="yes">
									<size>160,21</size>
									<tooltip>There are a total of four different differential inputs to the PGA. Only one of them is active at a time</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText1" member="yes">
									<label>PGA gain</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_G_PGA_RBB" subclass="StdCombobox" variable="cmbG_PGA_RBB" member="yes">
									<tooltip>This is the gain of the PGA</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText2" member="yes">
									<label>PGA Feedback capacitor</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_C_CTL_PGA_RBB" subclass="StdCombobox" variable="cmbC_CTL_PGA_RBB" member="yes">
									<tooltip>Control the value of the feedback capacitor of the PGA that is used to help against the parasitic cap at the virtual node for stability</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxRadioBox" name="ID_OSW_PGA_RBB" variable="rgrOSW_PGA_RBB" member="yes">
									<label>PGA connected to</label>
									<content>
										<item>ADC</item>
										<item>output pads</item>
									</content>
									<tooltip>There are two instances of the PGA circuit in the design. The output of the RBB&amp;LPF blocks are connected the input of these PGA blocks (common). The output of one of them is connected to two pads pgaoutn and pgaoutp and the output of the other PGA is connected directly to the ADC input</tooltip>
									<style>wxRA_SPECIFY_COLS</style>
									<handler function="ParameterChangeHandler" entry="EVT_RADIOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="RCtimeconstantSizer" member="no">
					<label>RC time constant</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="RCtimeconstant3Sizer" member="no">
							<cols>2</cols>
							<hgap>5</hgap>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText3" member="yes">
									<label>Resistance</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_R_CTL_LPF_RBB" subclass="StdCombobox" variable="cmbR_CTL_LPF_RBB" member="yes">
									<tooltip>Controls the absolute value of the resistance of the RC time constant of the RBB&amp;LPF blocks (both Low and High)</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText4" member="yes">
									<label>Capacitance of RC time constant (rxMode from 37MHz to 108MHz)</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_C_CTL_LPFH_RBB" subclass="StdCombobox" variable="cmbC_CTL_LPFH_RBB" member="yes">
									<tooltip>Controls the capacitance value of the RC time constant of RBB&amp;LPFH and it varies with the respective rxMode from 37MHz to 108MHz</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText5" member="yes">
									<label>Capacitance of RC time constant (rxMode from 1.4MHz to 20MHz)</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_C_CTL_LPFL_RBB" subclass="StdCombobox" variable="cmbC_CTL_LPFL_RBB" member="yes">
									<tooltip>Controls the capacitance value of the RC time constant of RBB&amp;LPFH and it varies with the respective rxMode from 1.4MHz to 20MHz.</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="PowerdowncontrolsSizer" member="no">
					<label>Power down controls</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="Powerdowncontrols2Sizer" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_LPFH_RBB" variable="chkPD_LPFH_RBB" member="yes">
									<label>LPFH block</label>
									<tooltip>Power down of the LPFH block</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_LPFL_RBB" variable="chkPD_LPFL_RBB" member="yes">
									<label>LPFL block</label>
									<tooltip>Power down of the LPFL block</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_PD_PGA_RBB" variable="chkPD_PGA_RBB" member="yes">
									<label>PGA block</label>
									<tooltip>Power down of the PGA block</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_EN_G_RBB" variable="chkEN_G_RBB" member="yes">
									<label>Enable individual power downs</label>
									<tooltip>Enable control for all the RBB&amp;1 power downs</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="OperationalamplifierSizer" member="no">
					<label>Operational amplifier</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="Operationalamplifier4Sizer" member="no">
							<cols>2</cols>
							<hgap>5</hgap>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText6" member="yes">
									<label>Stability passive compensation</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_RCC_CTL_LPFH_RBB" subclass="StdCombobox" variable="cmbRCC_CTL_LPFH_RBB" member="yes">
									<tooltip>Controls the stability passive compensation of the LPFH&amp;RBB operational amplifier</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText7" member="yes">
									<label>Stability passive compensation</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_RCC_CTL_LPFL_RBB" subclass="StdCombobox" variable="cmbRCC_CTL_LPFL_RBB" member="yes">
									<size>157,21</size>
									<tooltip>Controls the stability passive compensation of the LPFL&amp;RBB operational amplifier.</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText8" member="yes">
									<label>Input stage reference bias current (RBB__LPF)</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_ICT_LPF_IN_RBB" subclass="StdCombobox" variable="cmbICT_LPF_IN_RBB" member="yes">
									<tooltip>Controls the reference bias current of the input stage of the operational amplifier used in RBB&amp;LPF blocks (Low or High). </tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText9" member="yes">
									<label>Output stage reference bias current (RBB__LPF)</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_ICT_LPF_OUT_RBB" subclass="StdCombobox" variable="cmbICT_LPF_OUT_RBB" member="yes">
									<tooltip>the reference bias current of the output stage of the operational amplifier used in RBB&amp;LPF blocks (low or High)</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText10" member="yes">
									<label>Output stage reference bias current (PGA)</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_ICT_PGA_OUT_RBB" subclass="StdCombobox" variable="cmbICT_PGA_OUT_RBB" member="yes">
									<tooltip>Controls the output stage reference bias current of the operational amplifier used in the PGA circuit</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText11" member="yes">
									<label>Input stage reference bias current (PGA)</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_ICT_PGA_IN_RBB" subclass="StdCombobox" variable="cmbICT_PGA_IN_RBB" member="yes">
									<tooltip>Controls the input stage reference bias current of the operational amplifier used in the PGA circuit</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText12" member="yes">
									<label>Stability passive compensation</label>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_RCC_CTL_PGA_RBB" subclass="StdCombobox" variable="cmbRCC_CTL_PGA_RBB" member="yes">
									<tooltip>Controls the stability passive compensation of the PGA&amp;RBB operational amplifier</tooltip>
									<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Calibration</label>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="btnCalibrateLowBand" member="yes">
							<label>Calibrate LowBand</label>
							<handler function="OnbtnCalibrateLowBandClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="btnCalibrateHighBand" member="yes">
							<label>Calibrate HighBand</label>
							<handler function="OnbtnCalibrateHighBandClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
