<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlTxTSP">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<hgap>5</hgap>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<hgap>5</hgap>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="BISTSizer" member="no">
							<label>BIST</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="BIST1Sizer" member="no">
									<cols>2</cols>
									<hgap>5</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText1" member="yes">
											<label>BIST state</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_BSTATE_TXTSP" variable="lblBSTATE_TXTSP" member="yes">
											<label>???</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText0" member="yes">
											<label>BIST signature ch. I</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_BSIGI_TXTSP" variable="lblBSIGI_TXTSP" member="yes">
											<label>???</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText2" member="yes">
											<label>BIST signature ch. Q</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_BSIGQ_TXTSP" variable="lblBSIGQ_TXTSP" member="yes">
											<label>???</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_BSTART_TXTSP" variable="chkBSTART_TXTSP" member="yes">
											<label>Start BIST</label>
											<tooltip>Starts delta sigma built in self test. Keep it at 1 one at least three clock cycles</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON2" variable="btnReadBIST" member="yes">
											<label>Read BIST</label>
											<handler function="OnbtnReadBISTClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="IQCorrectorSizer" member="no">
							<label>IQ Corrector</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="IQCorrector2Sizer" member="no">
									<cols>2</cols>
									<hgap>5</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText3" member="yes">
											<label>Gain ch. Q</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GCORRQ_TXTSP" subclass="StdCombobox" variable="cmbGCORRQ_TXTSP" member="yes">
											<tooltip>corrector value, channel Q Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText4" member="yes">
											<label>Gain ch. I</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GCORRI_TXTSP" subclass="StdCombobox" variable="cmbGCORRI_TXTSP" member="yes">
											<tooltip>corrector value, channel I Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText5" member="yes">
											<label>Phase corrector</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_IQCORR_TXTSP" subclass="StdCombobox" variable="cmbIQCORR_TXTSP" member="yes">
											<tooltip>Phase corrector value (tan(Alpha/2)). Integer, 2&apos;s complement</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText15" member="yes">
											<label>Alpha</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT17" variable="txtPhaseAlpha" member="yes">
											<label>0</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="DCCorrectorSizer" member="no">
							<label>DC Corrector</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="DCCorrector4Sizer" member="no">
									<cols>2</cols>
									<hgap>5</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText7" member="yes">
											<label>DC ch. I</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_DCCORRI_TXTSP" subclass="StdCombobox" variable="cmbDCCORRI_TXTSP" member="yes">
											<tooltip>DC corrector value, channel I. Integer, 2&apos;s complement</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText8" member="yes">
											<label>DC ch. Q</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_DCCORRQ_TXTSP" subclass="StdCombobox" variable="cmbDCCORRQ_TXTSP" member="yes">
											<tooltip>DC corrector value, channel Q. Integer, 2&apos;s complement</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="InterpolationSizer" member="no">
							<label>Interpolation</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="Interpolation3Sizer" member="no">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText6" member="yes">
											<label>HBI ratio</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_HBI_OVR_TXTSP" subclass="StdCombobox" variable="cmbHBI_OVR_TXTSP" member="yes">
											<tooltip>HBI interpolation ratio</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="BypassSizer" member="no">
							<label>Bypass</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="Bypass8Sizer" member="no">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CMIX_BYP_TXTSP" variable="chkCMIX_BYP_TXTSP" member="yes">
											<label>CMIX</label>
											<tooltip>CMIX bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_ISINC_BYP_TXTSP" variable="chkISINC_BYP_TXTSP" member="yes">
											<label>ISINC </label>
											<tooltip>ISINC bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_GFIR3_BYP_TXTSP" variable="chkGFIR3_BYP_TXTSP" member="yes">
											<label>GFIR3</label>
											<tooltip>GFIR3 bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_GFIR2_BYP_TXTSP" variable="chkGFIR2_BYP_TXTSP" member="yes">
											<label>GFIR2</label>
											<tooltip>GFIR2 bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_GFIR1_BYP_TXTSP" variable="chkGFIR1_BYP_TXTSP" member="yes">
											<label>GFIR1</label>
											<tooltip>GFIR1 bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_DC_BYP_TXTSP" variable="chkDC_BYP_TXTSP" member="yes">
											<label>DC corrector</label>
											<tooltip>DC corrector bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_GC_BYP_TXTSP" variable="chkGC_BYP_TXTSP" member="yes">
											<label>Gain corrector</label>
											<tooltip>Gain corrector bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_PH_BYP_TXTSP" variable="chkPH_BYP_TXTSP" member="yes">
											<label>Phase corrector</label>
											<tooltip>Phase corrector bypass</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="GFIR1Sizer" member="no">
							<label>GFIR1</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="GFIR15Sizer" member="no">
									<cols>2</cols>
									<hgap>5</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText9" member="yes">
											<label>Length</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GFIR1_L_TXTSP" subclass="StdCombobox" variable="cmbGFIR1_L_TXTSP" member="yes">
											<tooltip>Parameter l of GFIR1 (l = roundUp(CoeffN/5)-1). Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText10" member="yes">
											<label>Clock Division Ratio:</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GFIR1_N_TXTSP" subclass="StdCombobox" variable="cmbGFIR1_N_TXTSP" member="yes">
											<tooltip>Clock division ratio of GFIR1 is GFIR1&amp;N + 1. Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON3" variable="btnLoadGFIR1Coef" member="yes">
											<label>Coefficients</label>
											<handler function="OnbtnLoadGFIR1CoefClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="GFIR2Sizer" member="no">
							<label>GFIR2</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="GFIR26Sizer" member="no">
									<cols>2</cols>
									<hgap>5</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText11" member="yes">
											<label>Length</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GFIR2_L_TXTSP" subclass="StdCombobox" variable="cmbGFIR2_L_TXTSP" member="yes">
											<tooltip>Parameter l of GFIR2 (l = roundUp(CoeffN/5)-1). Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText12" member="yes">
											<label>Clock Division Ratio:</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GFIR2_N_TXTSP" subclass="StdCombobox" variable="cmbGFIR2_N_TXTSP" member="yes">
											<tooltip>Clock division ratio of GFIR2 is GFIR2&amp;N + 1. Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON4" variable="btnLoadGFIR2Coef" member="yes">
											<label>Coefficients</label>
											<handler function="OnbtnLoadGFIR2CoefClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="GFIR3Sizer" member="no">
							<label>GFIR3</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="GFIR37Sizer" member="no">
									<cols>2</cols>
									<hgap>5</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText13" member="yes">
											<label>Length</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GFIR3_L_TXTSP" subclass="StdCombobox" variable="cmbGFIR3_L_TXTSP" member="yes">
											<tooltip>Parameter l of GFIR3 (l = roundUp(CoeffN/5)-1). Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText14" member="yes">
											<label>Clock Division Ratio:</label>
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_GFIR3_N_TXTSP" subclass="StdCombobox" variable="cmbGFIR3_N_TXTSP" member="yes">
											<tooltip>Clock division ratio of GFIR3 is GFIR3&amp;N + 1. Unsigned integer</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON5" variable="btnLoadGFIR3Coef" member="yes">
											<label>Coefficients</label>
											<handler function="OnbtnLoadGFIR3CoefClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_EN_TXTSP" variable="chkEN_TXTSP" member="yes">
							<label>Enable TxTSP</label>
							<tooltip>TxTSP modules enable</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CMIX_P6DB_TXTSP" variable="chkCMIX_P6DB_TXTSP" member="yes">
							<label>Increase CMIX output by +6dB</label>
							<tooltip>Increase CMIX output by +6dB</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>NCO</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>1</cols>
							<rows>3</rows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxRadioBox" name="ID_MODE_TX" variable="rgrMODE" member="yes">
											<label>Mode</label>
											<content>
												<item>FCW</item>
												<item>PHO</item>
											</content>
											<default>-1</default>
											<dimension>2</dimension>
											<style>wxRA_SPECIFY_COLS</style>
											<handler function="ParameterChangeHandler" entry="EVT_RADIOBOX" />
										</object>
										<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxRadioBox" name="ID_OFC" variable="rgrOFC" member="yes">
											<label>Output format control</label>
											<content>
												<item>Binary offset</item>
												<item>Two&apos;s complement</item>
											</content>
											<default>-1</default>
											<dimension>2</dimension>
											<style>wxRA_SPECIFY_COLS</style>
											<handler function="ParameterChangeHandler" entry="EVT_RADIOBOX" />
										</object>
										<flag>wxLEFT|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="sizerNCOgrid" member="yes">
									<cols>4</cols>
									<vgap>2</vgap>
									<hgap>5</hgap>
									<object class="spacer">
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText16" member="yes">
											<label>FCW(MHz)</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText17" member="yes">
											<label>PHO</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT20" variable="StaticText18" member="yes">
											<label>Angle</label>
											<size>48,13</size>
										</object>
										<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>4</cols>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON1" variable="btnUploadNCO" member="yes">
											<label>Upload NCO</label>
											<handler function="OnbtnUploadNCOClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON6" variable="btnSetRefClk" member="yes">
											<label>Set Reference Clk</label>
											<handler function="OnbtnSetRefClkClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticText19" member="yes">
											<label>RefClk(MHz):</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT22" variable="lblRefClk" member="yes">
											<label>30.72</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
