<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlXBUF">
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_SLFB_XBUF_RX" variable="chkSLFB_XBUF_RX" member="yes">
							<label>Rx Enable biasing the input&apos;s DC voltage </label>
							<tooltip>Self biasing digital contol SLFB&amp;XBUF&amp;RX</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_SLFB_XBUF_TX" variable="chkSLFB_XBUF_TX" member="yes">
							<label>Tx Enable biasing the input&apos;s DC voltage </label>
							<tooltip>Self biasing digital contol SLFB&amp;XBUF&amp;TX</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_BYP_XBUF_RX" variable="chkBYP_XBUF_RX" member="yes">
							<label>Shorts the Input 3.3V buffer in XBUF RX</label>
							<tooltip>Shorts the Input 3.3V buffer in XBUF</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_BYP_XBUF_TX" variable="chkBYP_XBUF_TX" member="yes">
							<label>Shorts the Input 3.3V buffer in XBUF TX</label>
							<tooltip>Shorts the Input 3.3V buffer in XBUF</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_EN_OUT2_XBUF_TX" variable="chkEN_OUT2_XBUF_TX" member="yes">
							<label>EN__OUT2__XBUF__TX</label>
							<tooltip>Enables the 2nd output of TX XBUF. This 2nd buffer goes to XBUF&amp;RX. This should be active when only 1 XBUF is to be used</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_EN_TBUFIN_XBUF_RX" variable="chkEN_TBUFIN_XBUF_RX" member="yes">
							<label>EN__TBUFIN__XBUF__RX</label>
							<tooltip>Disables the input from the external XOSC and buffers the 2nd input signal (from TX XBUF 2nd output) to the RX. This should be active when only 1 XBUF is to be used</tooltip>
							<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="PowerdowncontrolsSizer" member="no">
							<label>Power down controls</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="Powerdowncontrols1Sizer" member="no">
									<cols>1</cols>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_PD_XBUF_RX" variable="chkPD_XBUF_RX" member="yes">
											<label>Power down Rx</label>
											<tooltip>Power down signal PD&amp;XBUF&amp;RX</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_PD_XBUF_TX" variable="chkPD_XBUF_TX" member="yes">
											<label>Power down Tx</label>
											<tooltip>Power down signal PD&amp;XBUF&amp;TX</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_EN_G_XBUF" variable="chkEN_G_XBUF" member="yes">
											<label>Enable individual power downs</label>
											<tooltip>Enable control for all the XBUF power downs</tooltip>
											<handler function="ParameterChangeHandler" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
