<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="pnlMyriadRF2">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
			<label>MyriadRF2</label>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
					<cols>2</cols>
					<hgap>5</hgap>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
							<label>PA IN</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
									<cols>2</cols>
									<hgap>2</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
											<label>DTC1:</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMBOBOX2" variable="cmbDTC1in" member="yes">
											<handler function="configMyriadRF_PAIN" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
											<label>DTC2:</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMBOBOX3" variable="cmbDTC2in" member="yes">
											<handler function="configMyriadRF_PAIN" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX17" variable="chkSWC1" member="yes">
											<label>SW1</label>
											<handler function="configMyriadRF_PAIN" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX18" variable="chkSWC2" member="yes">
											<label>SW2</label>
											<handler function="configMyriadRF_PAIN" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX19" variable="chkSWC3" member="yes">
											<label>SW3</label>
											<handler function="configMyriadRF_PAIN" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
							<label>PA OUT</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
									<cols>2</cols>
									<hgap>2</hgap>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText17" member="yes">
											<label>DTC1:</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMBOBOX4" variable="cmbDTC1out" member="yes">
											<handler function="configMyriadRF_PAOUT" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText18" member="yes">
											<label>DTC2:</label>
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMBOBOX5" variable="cmbDTC2out" member="yes">
											<handler function="configMyriadRF_PAOUT" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX20" variable="chkSWC1out" member="yes">
											<label>SW1</label>
											<handler function="configMyriadRF_PAOUT" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX21" variable="chkSWC2out" member="yes">
											<label>SW2</label>
											<handler function="configMyriadRF_PAOUT" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX22" variable="chkSWC3out" member="yes">
											<label>SW3</label>
											<handler function="configMyriadRF_PAOUT" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
							<cols>3</cols>
							<hgap>5</hgap>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="yes">
									<label>LNA:</label>
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="ID_COMBOBOX1" variable="cmbLNAbypass" member="yes">
									<content>
										<item>LNA bypassed</item>
										<item>LNA engaged</item>
									</content>
									<selection>0</selection>
									<handler function="OncmbLNAbypassSelected" entry="EVT_COMBOBOX" />
								</object>
								<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
