<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="dlgExtraControls">
		<title>Extra controls</title>
		<minsize>256,256</minsize>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxCLOSE_BOX</style>
		<object class="wxFlexGridSizer" variable="m_controlsSizer" member="yes">
			<cols>2</cols>
			<growablecols>0,1</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="m_checkboxes" member="yes">
					<cols>1</cols>
				</object>
				<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
